@model HairSalonBotan.Models.CategorieVM

@{
    ViewBag.Title = "Categorieën";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Categorieën</h2>
            <div class="tabbable">
                <ul class="nav nav-pills nav-stacked col-md-3">
                    @foreach (var item in Model.categorieInfoUI)
                    {
                        <li><a href="@item.categorieId" class="btn btn-block btn-block">@item.categorienaam</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

        @*<div class="tab-content col-md-9">
                    <div class="tab-pane" id="1"><p>Mannen</p></div>
                    <div class="tab-pane " id="2">Vrouwen</div>
                    <div class="tab-pane " id="3">Kinderen</div>
                    <div class="tab-pane " id="4">Epileren</div>
                    <div class="tab-pane " id="5">Vijf</div>
                    <div class="tab-pane " id="6">Zes</div>
                    <div class="tab-pane " id="7">Permanent All</div>  
                </div>*@