@model HairSalonBotan.Models.KapperszaakVM

@{
    ViewBag.Title = "ProductenPagina";
}
<h2>Producten</h2>

@foreach (var item in Model.producten)
{
<div class="col-sm-4">
    <h2>@Html.DisplayFor(modelItem => item.Titel)</h2>
    <img src="@Url.Content(item.Image)" width="335" height="220" />
    <br />
    <p>@Html.DisplayFor(modelItem => item.Omschrijving)</p>
</div>
}

